This file is parsing i2b2 training data and annotating it with the CoNLL BIO scheme, which has this form:

[word] [POS tag] [chunk tag] [NER tag]

In [1]:
__author__ = "Maximilian Hofer"
__copyright__ = "Copyright 2018"
__license__ = "MIT"

In [2]:
import os
from nltk import pos_tag, RegexpParser
import pandas as pd
import numpy as np

In [3]:
import os

files = os.listdir("./data/annotations")
for f in files:
    newname = f.split('.')[0]
    os.rename(os.path.join("./data/annotations",f), os.path.join("./data/annotations",newname))

In [4]:
a_ids = []
e_ids = []

for filename in os.listdir("./data/annotations"):
    if filename[0] != ".":  # ignore hidden files
        a_ids.append(int(filename))
for filename in os.listdir("./data/entries"):
    if filename[0] != ".": 
        e_ids.append(int(filename))
    
a_ids = tuple(sorted(a_ids)) 
e_ids = tuple(sorted(a_ids))

intersection = list(set(a_ids) & set(e_ids))
if len(intersection) == len(a_ids):
    print("Success: all anotations have a corresponding entry.", len(intersection))

Success: all anotations have a corresponding entry. 251

## Build corpora

In [5]:
# build annotation and entry corpora

a_corpus = []
e_corpus = []

# only annotations and corresponding files
for file in a_ids:
    path = "./data/annotations/" + str(file)
    with open(path) as f:
        content = f.read().splitlines()
        a_corpus.append(content)

    path = "./data/entries/" + str(file)
    with open(path) as f:
        #content = f.readlines()
        content = f.read().splitlines()
        e_corpus.append(content)

## Set up dataframe

In [6]:
#  ["id", "row", "offset", "word", "POS", "chunk", "NER"]
entries_cols = ["id", "row", "offset", "word"]
entries_df = pd.DataFrame(columns=entries_cols)

In [7]:
entries_df.head()

Empty DataFrame
Columns: [id, row, offset, word]
Index: []

In [8]:
annotations_cols = ["id", "NER_tag", "row", "offset", "length"]
annotations_df = pd.DataFrame(columns=annotations_cols)

In [9]:
annotations_df.head()

Empty DataFrame
Columns: [id, NER_tag, row, offset, length]
Index: []

## Number of annotations

In [10]:
med_count = 0
dosage_count = 0
mode_count = 0
freq_count = 0
dur_count = 0
reason_count = 0

for document in a_corpus:
    for line in document:
        if "m=\"nm\"" not in line:
            med_count += 1
        if "do=\"nm\"" not in line:
            dosage_count += 1
        if "mo=\"nm\"" not in line:
            mode_count += 1
        if "f=\"nm\"" not in line:
            freq_count += 1
        if "du=\"nm\"" not in line:
            dur_count += 1
        if "r=\"nm\"" not in line:
            reason_count += 1
        
print("Medication annotations: ", med_count)
print("Dosage annotations: ", dosage_count)
print("Mode annotations: ", mode_count)
print("Frequency annotations: ", freq_count)
print("Duration annotations: ", dur_count)
print("Reason annotations: ", reason_count)

Medication annotations:  8942
Dosage annotations:  4460
Mode annotations:  3387
Frequency annotations:  4039
Duration annotations:  553
Reason annotations:  1637

## Build annotations data frame

In [11]:
annotations_df = pd.DataFrame(columns=annotations_cols)  # reset df
tmp_list = []

for i, document in enumerate(a_corpus):
    
    for row in document:
        row = row.split("||")
        # print(row, "\n")
        
        for tag in row: 
            # print(tag)
            tag = tag.split("=")
            if ":" in tag[1]:
                tag_label = tag[0].lstrip(" ")
                tag_row_a = tag[1].split(" ")[-2:][0].split(":")[0]
                tag_row_b = tag[1].split(" ")[-2:][1].split(":")[0]
                
                # some annotations have non-standard formatting (losing 64 instances)
                try:
                    tag_offset_a = int(tag[1].split(" ")[-2:][0].split(":")[1])
                    tag_offset_b = int(tag[1].split(" ")[-2:][1].split(":")[1])
                    length = tag_offset_b - tag_offset_a + 1
                    
                    # 1 row = 1 token with a tag
                    first = True
                    BIO_tag = "B-"
                    if length > 1 and tag_row_a == tag_row_b:
                        for offset in range(tag_offset_a, tag_offset_b+1):
                            if first: 
                                tag_label = BIO_tag + tag_label
                                first = False
                            else:
                                tag_label = tag_label.replace("B-", "I-")
                            tmp_list.append([a_ids[i], tag_label, tag_row_a, offset, 1])
                    # TODO: tags over line breaks
                    else:
                        tmp_list.append([a_ids[i], BIO_tag + tag_label, tag_row_a, tag_offset_a, length])
                except:
                    pass             

annotations_df = pd.DataFrame(tmp_list, columns=annotations_cols)
annotations_df.reset_index(inplace=True)

In [12]:
annotations_df = annotations_df.drop(["index", "length"],axis=1)
annotations_df.shape

(35630, 4)

In [13]:
annotations_df.head()

    id NER_tag row  offset
0  661     B-m  16       0
1  661     I-m  16       1
2  661    B-do  16       2
3  661    I-do  16       3
4  661    B-mo  16       4

In [14]:
entries_df.head()

Empty DataFrame
Columns: [id, row, offset, word]
Index: []

In [15]:
e_corpus[0][0].split(" ")

['RECORD', '#661']

## Build entries data frame

List of token modifications:
    - "|": ignored
    - "." removed from end of token

In [16]:
entries_df = pd.DataFrame(columns=entries_cols)  # reset df
tmp_list = []

for doc_i, document in enumerate(e_corpus):
    
    tmp_list.append([0, 0, 0, "-DOCSTART-"])
    tmp_list.append([0, 0, 0, "-EMPTYLINE-"])
    
    for row_i, row in enumerate(document):
        row_split = row.split(" ")
        for word_i, word in enumerate(row_split):
            word = word.rstrip(".")  # strip "." from end of word
            word = word.replace("\t", "")
            word_id = a_ids[doc_i]
            word_row = row_i+1  # 1-based indexing 
            word_offset = word_i # 0-based indexing
            
            if len(word) > 0 and "|" not in word:
                tmp_list.append([word_id, word_row, word_offset, word])
        
    tmp_list.append([0, 0, 0, "-EMPTYLINE-"])

entries_df = pd.DataFrame(tmp_list, columns=entries_cols)

In [17]:
entries_df.head()

    id  row  offset         word
0    0    0       0   -DOCSTART-
1    0    0       0  -EMPTYLINE-
2  661    1       0       RECORD
3  661    1       1         #661
4  661    2       0    753455514

In [18]:
annotations_df.head()

    id NER_tag row  offset
0  661     B-m  16       0
1  661     I-m  16       1
2  661    B-do  16       2
3  661    I-do  16       3
4  661    B-mo  16       4

In [19]:
ner_counter = [1 for i in annotations_df["NER_tag"] if "B-" in i]
print(len(ner_counter), "named entities")

22955 named entities

## Joing entries and annotations

In [20]:
# ensure correct dtypes
annotations_df[['id', 'row', 'offset']] = annotations_df[['id', 'row', 'offset']].apply(pd.to_numeric)
annotations_df['NER_tag'] = annotations_df["NER_tag"].astype(str)
entries_df[['id', 'row', 'offset']] = entries_df[['id', 'row', 'offset']].apply(pd.to_numeric)
entries_df["word"] = entries_df["word"].astype(str)

In [21]:
result_df = pd.merge(entries_df, annotations_df, how="left", on=['id', 'row', 'offset'])

In [22]:
# replace NaNs with "O"
print("columns with missing data:\n", result_df.isnull().any())
result_df = result_df.fillna("O")

columns with missing data:
 id         False
row        False
offset     False
word       False
NER_tag     True
dtype: bool

In [23]:
print("columns with missing data:\n", result_df.isnull().any())

columns with missing data:
 id         False
row        False
offset     False
word       False
NER_tag    False
dtype: bool

In [24]:
result_df = result_df.drop(["id", "row", "offset"],axis=1)
result_df.head()

          word NER_tag
0   -DOCSTART-       O
1  -EMPTYLINE-       O
2       RECORD       O
3         #661       O
4    753455514       O

In [25]:
result_df.shape

(284392, 2)

In [26]:
# 71 fewer annotations than expected as annotations over line breaks are not included
ner_counter = [1 for i in result_df["NER_tag"] if "B-" in i]
print(len(ner_counter), "named entities")

22949 named entities

# POS tagger

In [27]:
from nltk.chunk.regexp import RegexpChunkParser, ChunkRule, RegexpParser
from nltk.tree import Tree

In [28]:
text = result_df["word"].tolist()
text_pos = pos_tag(text)
text_pos_list = [i[1] for i in text_pos]

In [29]:
len(text_pos_list)

284392

In [30]:
result_df.columns

Index(['word', 'NER_tag'], dtype='object')

In [31]:
result_df["POS_tag"] = text_pos_list

In [32]:
result_df.head()

          word NER_tag POS_tag
0   -DOCSTART-       O      JJ
1  -EMPTYLINE-       O      NN
2       RECORD       O     NNP
3         #661       O     VBZ
4    753455514       O      CD

# CoNLL chunk tagger

In [33]:
text_test = "EU rejects German call to boycott British lamb.".split(" ")
text_pos_test = pos_tag(text_test)

In [34]:
text_pos_test

[('EU', 'NNP'),
 ('rejects', 'VBZ'),
 ('German', 'JJ'),
 ('call', 'NN'),
 ('to', 'TO'),
 ('boycott', 'VB'),
 ('British', 'JJ'),
 ('lamb.', 'NN')]

used for building regex 
grammar = r"""
    NP: {<DT|PP\$>?<JJ>*<NN.*>+} # noun phrase
    PP: {<IN><NP>}               # prepositional phrase
    VP: {<MD>?<VB.*><NP|PP>}     # verb phrase
    CLAUSE: {<NP><VP>}           # full clause
"""

### Noun phrases

In [35]:
rule_0 = ChunkRule("<DT>?<JJ.*>*<NN.*>+", "More complete chunk NP sequences")

chunk_parser_np = RegexpChunkParser([rule_0],chunk_label='NP')

chunk_result_tree_np = chunk_parser_np.parse(text_pos)

In [36]:
chunk_tag_np = []

for i in chunk_result_tree_np:
    if isinstance(i, Tree):
        for j in range(0, len(i)):
            if j == 0:
                # print("B-" + i.label())
                chunk_tag_np.append("B-" + i.label())
            else:
                chunk_tag_np.append("I-" + i.label())
                # print("I-" + i.label())
    else:
        # print("O")
        chunk_tag_np.append("O")

In [37]:
len(chunk_tag_np) == result_df.shape[0]  # check that chunk col has same length

True

### Verb phrases

In [38]:
rule_1 = ChunkRule("<VBD|IN|\.>", "Verb phrases")

chunk_parser_vp = RegexpChunkParser([rule_1],chunk_label='VP')

chunk_result_tree_vp = chunk_parser_vp.parse(text_pos)

In [39]:
chunk_tag_vp = []

for i in chunk_result_tree_vp:
    if isinstance(i, Tree):
        for j in range(0, len(i)):
            if j == 0:
                # print("B-" + i.label())
                chunk_tag_vp.append("B-" + i.label())
            else:
                chunk_tag_vp.append("I-" + i.label())
                # print("I-" + i.label())
    else:
        # print("O")
        chunk_tag_vp.append("O")

In [40]:
len(chunk_tag_np) == result_df.shape[0] == len(chunk_tag_vp)

True

In [41]:
# augment chunk tags with verb phrase tags
for i, entry in enumerate(chunk_tag_np):
    if entry == "O":
        chunk_tag_np[i] = chunk_tag_vp[i]

There are not prepositional phrases.

In [42]:
result_df["chunk_tag"] = chunk_tag_np

In [43]:
result_df = result_df[['word', 'POS_tag', 'chunk_tag', 'NER_tag']]  # order columns

In [44]:
result_df.shape

(284392, 4)

In [45]:
result_df[['word', 'POS_tag', 'chunk_tag', 'NER_tag']] = result_df[['word', 'POS_tag', 'chunk_tag', 'NER_tag']].astype(str)
result_df.dtypes

word         object
POS_tag      object
chunk_tag    object
NER_tag      object
dtype: object

### Data split

In [46]:
result_df.shape

(284392, 4)

In [47]:
result_df = result_df.reindex()

In [48]:
# find indices of new documents
result_df[result_df["word"] == "-DOCSTART-"].index.values.tolist()

[0,
 1276,
 2643,
 4377,
 5908,
 6641,
 7790,
 8795,
 10044,
 11493,
 12234,
 13651,
 15814,
 16598,
 17987,
 18945,
 19969,
 20814,
 22124,
 23270,
 24067,
 25127,
 25872,
 26918,
 28112,
 29608,
 30863,
 31933,
 32876,
 33804,
 35067,
 36257,
 37692,
 38781,
 39728,
 42235,
 42937,
 44387,
 45067,
 45853,
 46997,
 47641,
 48793,
 49514,
 50770,
 52963,
 54158,
 55759,
 56622,
 57067,
 57688,
 58501,
 59638,
 60328,
 61561,
 62266,
 64211,
 64735,
 66068,
 66771,
 67492,
 69643,
 70278,
 71084,
 72363,
 73850,
 74357,
 74675,
 75756,
 76626,
 77338,
 77901,
 81739,
 82858,
 83570,
 83901,
 84881,
 85730,
 87779,
 88506,
 89243,
 90425,
 91868,
 92756,
 93449,
 94095,
 95814,
 96512,
 97348,
 98324,
 99228,
 99851,
 101632,
 103085,
 104494,
 105805,
 107508,
 109360,
 110169,
 111944,
 113394,
 114823,
 115546,
 116563,
 118684,
 119630,
 120330,
 120916,
 122047,
 122868,
 123713,
 126315,
 126903,
 128743,
 129817,
 131868,
 133115,
 134767,
 135926,
 137236,
 138544,
 139778,
 141117,
 142660,
 143661,
 144170,
 145038,
 146009,
 146975,
 148230,
 148432,
 149734,
 150773,
 151698,
 153693,
 154735,
 155510,
 157179,
 158224,
 159503,
 160073,
 160520,
 161175,
 162135,
 163407,
 164628,
 166498,
 167449,
 168337,
 169296,
 169697,
 171862,
 173622,
 174891,
 175822,
 177079,
 177856,
 178376,
 179359,
 181181,
 181675,
 183560,
 184225,
 185251,
 186334,
 188100,
 188981,
 189717,
 190924,
 191913,
 193060,
 193531,
 194514,
 196146,
 197682,
 200410,
 202341,
 203674,
 204295,
 205073,
 206552,
 207502,
 208902,
 210947,
 212625,
 213499,
 213955,
 214767,
 216222,
 216855,
 218649,
 219342,
 220147,
 220611,
 221507,
 222539,
 224362,
 225081,
 225849,
 226710,
 227481,
 228120,
 228982,
 230485,
 231898,
 232774,
 233894,
 234789,
 236480,
 236895,
 238303,
 238705,
 240222,
 240783,
 242191,
 243399,
 243934,
 244612,
 245734,
 246332,
 247426,
 248742,
 250499,
 251426,
 252979,
 253977,
 254747,
 256263,
 257799,
 258725,
 259549,
 260768,
 261301,
 261978,
 263275,
 263789,
 265121,
 265663,
 266398,
 267467,
 267947,
 269505,
 272281,
 272910,
 273596,
 275038,
 276635,
 277664,
 280637,
 281134,
 283139]

In [49]:
train = 192062  
dev = 237618
result_train_df = result_df.iloc[:train]
result_dev_df = result_df.iloc[train:dev]
result_test_df = result_df.iloc[dev:]

In [50]:
result_test_df.tail()

                word POS_tag chunk_tag NER_tag
284387          6/10      CD         O       O
284388            T:     NNP      B-NP       O
284389          1/22      CD         O       O
284390  [report_end]     NNP      B-NP       O
284391   -EMPTYLINE-      NN      I-NP       O

In [51]:
print("train shape ", result_train_df.shape)
print("dev shape ", result_dev_df.shape)
print("test shape ", result_test_df.shape)

train shape  (192062, 4)
dev shape  (45556, 4)
test shape  (46774, 4)

In [52]:
result_df.to_csv("result_df_NER_POS_chunk.csv")

# Write to txt

In [53]:
np.savetxt("train.txt", result_train_df.values, fmt="%s")
np.savetxt("valid.txt", result_dev_df.values, fmt="%s")
np.savetxt("test.txt", result_test_df.values, fmt="%s")